body {
    background-color: #CA8;
}

table {
    background-color: #ECA;
}

#konyva {
    text-decoration: #443321;
}

#fiataloknak {
    text-align: #443323;
}

.div1 {
    border: solid black 1px;
    background-color: #eecca9;
    width: 720px;
    text-align: left;
}

#AndrewMatthews {
    text-align: left;
}

#lbt {
    text-align: left;
    border: solid black 1px;
}


#miertvan {
    text-align: left;
}

table {
    width: 720px;
}

#akf7sz {
    text-align: left;
    border: solid black 1px;
}

#barbel  {
    text-align: left;
}

.div2 {
    border: solid black 1px;
    background-color: #eecca9;
    width:720px;
    text-align: left;
}

#aoecs {
    text-align: left;
    border: solid black 1px;
}

#barked {
    text-align: left;
}

.div3 {
    border: solid black 1px;
    background-color: #eecca9;
    width:720px;
    text-align: justify;
}



.div4 {
    border: solid black 1px;
    background-color: #eecca9;
    width:720px;
    text-align: left;
}

#ass {
    text-align: left;
    border: solid black 1px;
}

#azass {
    text-align: left;
}

.div5 {
    border: solid black 1px;
    background-color: #eecca9;
    width: 720px;
    text-align: left;
}

#gpszp {
    text-align: left;
    border: solid black 1px;
}

#ezak {
    text-align: left;
}

.div6 {
    border: solid black 1px;
    background-color: #eecca9;
    width:720px;
    text-align: left;
}

#azo {
    text-align: left;
    border: solid black 1px;
}

#minpil {
    text-align: left;
}

.div7 {
    border: solid black 1px;
    background-color: #eecca9;
    width:720px;
    text-align: left;
}

#vgyesz {
    text-align: left;
    border: solid black 1px;
}

#egyva {
    text-align:left
}

#BookIcon {
    float:right
}

h4 {
    float: left;
}

#azotlet {
    text-align: left;
}

#tdid {
    width: 135px;
}